
@{
    ViewBag.Title = "Footer";
}


<link href="@Url.Content("~/Content/Footer.css")" rel="stylesheet" type="text/css" />


<div class="contenedorFooter">
    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
</div>



