@{
    ViewBag.Title = "Reporte 1";
}


<script defer src="@Url.Content("~/Scripts/Google/loader.js")" type="text/javascript"></script>
<script defer src="@Url.Content("~/Scripts/System/Reporte/Reporte1.js")" type="text/javascript"></script>


<table border="1">
    <tr>
        <td colspan="2">
            https://developers.google.com/chart/interactive/docs/basic_load_libs
        </td>
    </tr>
    <tr>
        <td>
            <h1>EJERCICIO INTRODUCTORIO</h1>
            <div id="grafico1"></div>
        </td>
    </tr>   
</table>

